@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "My File Host";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title</h1>
            <h2> - For All Your File Storage Needs</h2>
        </hgroup>
    </div>
</section>
}

<h3> DO STUFF HERE </h3>
