@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Upload";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2> - Upload Your Files Here</h2>
</hgroup>

<article>
    <p>
        Upload your files here, they will be automaticly sorted
    </p>

    <p>
        UPLOAD BUTTON HERE
    </p>
</article>