@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "My File Host";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title</h1>
            <h2> - For All Your File Storage Needs</h2>
        </hgroup>
    </div>


</section>
}

<h3> Date And Time / Temperature </h3>
<!-- Single statement block.  -->
@{ var theMonth = DateTime.Now.Month; }
<p>The numeric value of the current month: @theMonth</p>

<!-- Multi-statement block. -->
@{
    var outsideTemp = 79;
    var weatherMessage = "Hello, it is " + outsideTemp + " degrees.";
}
<p>Today's weather: @weatherMessage</p>