@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Upload";
}

<input type="file" id="uploadme" />
<input type="button" id="clickme" value="Upload Stuff!" />

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2> - Upload Your Files Here</h2>
</hgroup>

<article>
    <p>
        Upload your files here, they will be automaticly sorted
    </p>

    <p>
        UPLOAD BUTTON HERE
    </p>
</article>

input[type=file] {
    width: 1px;
    visibility: hidden;
}

$(function() {
    $('#clickme').click(function(){
        $('#uploadme').click();
    });
});